body {
    background-color: black;
    color: #bfaeae;
}

/* .container {
    border-radius: 5px;
    border-color: rgb(177, 177, 155);
    border-width: 3px;
    border-style: solid;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
} */